<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Edutainment Game Engine{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/global.css') }}"
    />
    {% block styles %} {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/play">Play Flashcards</a></li>
          <li><a href="/create">Create Flashcards</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>Coded by Nikki Klein</p>
    </footer>
  </body>
</html>
