header {
  padding: 0;
}

nav {
  background-color: var(--yellow);
  border: 1px solid;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: flex-end;
  gap: 20px;
}

.current {
  background-color: var(--purple);
  color: white;
}
